/* Tablet */
@media (max-width: 991px) {
  #banner {
    height: 598px;
  }

  #nav-bar .container {
    padding: 0 36px;
  }

  #nav-bar a {
    font-size: 14px;
  }

  #nav-bar a i {
    float: left;
    font-size: 13px;
    top: 0;
  }
  .my-avt {
    display: none;
  }

  #job-info .container {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  #job-info .job-info--content {
    line-height: 1.8;
  }

  #target {
    padding: 92px 50px 48px 50px;
  }

  #target h1,
  #personal-info h1 {
    font-size: 25px;
    line-height: 26px;
  }

  #about,
  #job-info,
  #certificate,
  #project {
    font-size: 14px;
  }

  #about {
    line-height: 1.8;
  }
  #personal-info {
    padding: 92px 50px 48px 50px;
  }

  .project-item td:nth-child(1) {
    width: 55px;
    padding-right: 0;
  }

  .certificate-item {
    display: block;
  }

  .certificate-item img {
    width: 100%;
    height: 200px;
    padding-bottom: 10px;
  }

  .certificate-content-2 {
    padding-left: 10px;
    border-left: 1px solid #d6c08d;
  }
}

@media (min-width: 768px) {
  .certificate-item-3 {
    padding-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #nav-bar a {
    padding: 14px 34px;
  }
  #job-info .container {
    height: 1510px;
  }
}
