@media (max-width: 991px) {
  .project-charter--items {
    display: block;
  }
}

@media (min-width: 768px) {
  .goals-content .charter-content-item {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .team-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .team-item-2 {
    grid-row: 2 / 3;
  }
}
